In [1]:
import os
import sys
sys.path.append("..") # fix this necessity

from src.ReadBase import *
from src.ProcessBase import *

PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

In [2]:
path_base = os.path.join("..", "..", "..", "data", "AGRAVOS")
path_data_1 = os.path.join(path_base, "MENINGITE")
path_data_2 = os.path.join(path_base, "SIF")

fname_1 = "MENINNET-04.10.22.DBF"
fname_2 = "SIFADQNET.xlsx"

In [3]:
obj_1 = ProcessSinan(path_data=path_data_1, filename=fname_1)

In [4]:
obj_2 = ProcessSinan(path_data=path_data_2, filename=fname_2)

In [5]:
obj_1.read_file(codec="latin")
obj_1.raw_data

,NU_NOTIFIC,TP_NOT,ID_AGRAVO,CS_MENING,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,...,LAB_HEMA,LAB_NEUTRO,LAB_GLICO,LAB_LEUCO,LAB_EOSI,LAB_PROT,LAB_MONO,LAB_LINFO,LAB_CLOR,NU_LOTE_I
0,0249929,2,G039,2,2009-02-26,200908,2009,23,230440,NaN,...,13.0,37.0,366.0,160.0,1.0,51.0,2.0,60.0,NaN,2018020
1,0237329,2,G039,2,2007-02-05,200706,2007,23,230440,NaN,...,145.0,80.0,43.0,1225.0,NaN,99.0,10.0,10.0,NaN,2018020
2,0237854,2,G039,2,2007-01-22,200704,2007,23,230440,NaN,...,43.0,13.0,58.0,523.0,NaN,92.0,3.0,84.0,NaN,2018020
3,0237308,2,G039,2,2007-01-29,200705,2007,23,230440,NaN,...,41000.0,82.0,24.0,23600.0,NaN,660.0,NaN,18.0,NaN,2018020
4,0237286,2,G039,2,2007-01-17,200703,2007,23,230440,NaN,...,NaN,41.0,54.0,118.0,NaN,62.0,2.0,84.0,NaN,2018020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6551,0107141,2,G039,2,2022-09-27,202239,2022,23,230440,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6552,0107142,2,G039,2,2022-09-27,202239,2022,23,230440,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6553,0102649,2,G039,2,2022-09-24,202238,2022,23,230440,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022039
6554,0107706,2,G039,2,2022-09-01,202235,2022,23,230440,NaN,...,256.0,77.0,16.0,1850.0,0.0,324.0,6.0,17.0,0.0,2022039
6555,0107127,2,G039,2,2022-09-23,202238,2022,23,230440,NaN,...,288.0,58.0,38.0,500.0,NaN,231.0,2.0,40.0,NaN,2022039

In [6]:
obj_1.initilize()

DataSourceNotMatched: Data source defined used does not match with the source of the data parsed: SINAN -> SIVEP

In [7]:
obj_2.read_file(sheet_name='SIFADQNET (1)')
obj_2.raw_data

,NU_NOTIFIC,TP_NOT,ID_AGRAVO,CS_SUSPEIT,IN_AIDS,CS_MENING,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,...,ID_DIGIT,ID_FAX,ID_EMAIL,NU_UNID,NU_ESFERAS,ID_NATU_JU,ID_VINCULO,ID_UNID_AT,NU_TIPO_SA,TAMANHO
0,1847430,2,A539,NaN,NaN,NaN,2018-03-27,201813,2018,43,...,N,(51)32148585,provedoria@santacasa.tche.br,5,NaN,NaN,NaN,2237253,5,7
1,99997,2,A539,NaN,NaN,NaN,2020-09-14,202038,2020,23,...,N,NaN,NaN,2,NaN,NaN,NaN,2372134,5,7
2,106186,2,A539,NaN,NaN,NaN,2020-06-09,202024,2020,23,...,N,NaN,NaN,2,NaN,NaN,NaN,2372134,5,7
3,2014787,2,A539,NaN,NaN,NaN,2014-08-25,201435,2014,23,...,N,8533452309,NaN,5,NaN,NaN,NaN,2373270,5,7
4,21756,2,A539,NaN,NaN,NaN,2021-08-04,202131,2021,23,...,N,8533452309,NaN,5,NaN,NaN,NaN,2373270,5,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7955,61111,2,A539,NaN,NaN,NaN,2020-10-30,202044,2020,23,...,N,NaN,uapsfaustofreire@gmail.com,2,NaN,NaN,NaN,9686479,1,7
7956,7307,2,A539,NaN,NaN,NaN,2021-03-03,202109,2021,23,...,N,NaN,uapsfaustofreire@gmail.com,2,NaN,NaN,NaN,9686479,1,7
7957,60734,2,A539,NaN,NaN,NaN,2019-12-19,201951,2019,23,...,N,NaN,uapsfaustofreire@gmail.com,2,NaN,NaN,NaN,9686479,1,7
7958,61109,2,A539,NaN,NaN,NaN,2020-10-22,202043,2020,23,...,N,NaN,uapsfaustofreire@gmail.com,2,NaN,NaN,NaN,9686479,1,7
7959,61119,2,A539,NaN,NaN,NaN,2020-11-26,202048,2020,23,...,N,NaN,uapsfaustofreire@gmail.com,2,NaN,NaN,NaN,9686479,1,7

In [8]:
obj_2.initilize()

In [9]:
obj_1.initilize()

In [20]:
s = obj_1.raw_data["NU_NOTIFIC"].astype(float).dtype