In [1]:
import os
import sys
sys.path.append("..") # --> fix this necessity

import pandera
import numpy as np
import pandas as pd
import datetime as dt

from src.DataBase import *

In [3]:
path_base = os.path.join(os.environ["HOMEPATH"], "Documents", "data")
cevepi_base = os.path.join(path_base, "CEVEPI_BUNDLE_TESTES")
#path_base_1 = os.path.join("..", "..", "..", "data", "AGRAVOS")
#path_data_1 = os.path.join(path_base, "MENINGITE")
#path_data_2 = os.path.join(path_base, "SIF")

fname_0 = "GAL_EXEMPLO.csv"
#fname_1 = "MENINNET-04.10.22.DBF"
#fname_2 = "SIFADQNET.xlsx"

In [4]:
gal_df = pd.read_csv(os.path.join(cevepi_base, fname_0), encoding="latin", delimiter=";", index_col=0, dtype=object)
gal_df.sample(n=4)

,Requisição,Requisição Correlativo (S/N),Regional de Cadastro,Laboratório de Cadastro,CNES Laboratório de Cadastro,Unidade Solicitante,CNES Unidade Solicitante,Municipio do Solicitante,IBGE Município Solicitante,Estado do Solicitante,...,Status Exame,Laboratório Externo,CNES Laboratório Externo,1º Campo Resultado,2º Campo Resultado,3º Campo Resultado,4º Campo Resultado,5º Campo Resultado,6º Campo Resultado,Observações do Resultado
1480,220146010317,N,1,HOSPITAL GERAL DR WALDEMAR ALCANTARA,2785900,HOSPITAL GERAL DR WALDEMAR ALCANTARA,2785900,FORTALEZA,230440,CE,...,Resultado Liberado,FIOCRUZ CEARA,227455.0,Resultado: Não Detectável,NaN,CT:,NaN,NaN,NaN,NaN
1978,220179001461,N,1,UPA UNIDADE DE PRONTO ATENDIMENTO BOM JARDIM,7993218,UPA UNIDADE DE PRONTO ATENDIMENTO BOM JARDIM,7993218,FORTALEZA,230440,CE,...,Resultado Liberado,NaN,NaN,Resultado: Não Detectável,NaN,CT:,NaN,NaN,NaN,Este resultado se refere a amostra analisada.
791,220106002505,N,1,Hospital Geral Dr. Cesar Cals (Fortaleza),2499363,HGCC HOSPITAL GERAL DR CESAR CALS,2499363,FORTALEZA,230440,CE,...,Resultado Liberado,NaN,NaN,Resultado: Não Detectável,NaN,CT:,NaN,NaN,NaN,Este resultado se refere a amostra analisada.
615,221511000737,N,15,Maternidade Quiteria de Lima (quiterianopolis),2480050,SECRETARIA MUNICIPAL DE SAUDE QUITERIANOPOLIS,2480395,QUITERIANOPOLIS,231126,CE,...,Resultado Liberado,NaN,NaN,Resultado: 7.885 U/L,Conclusão:,NaN,NaN,NaN,NaN,Este resultado se refere a amostra analisada.

In [9]:
GAL = DataGal(gal_df)
GAL.empty_columns

['CNS do Profissional de Saúde',
 'Núm. Notificação Gal',
 'Agravo Gal',
 'CID Agravo Gal',
 'Data Notificação Gal',
 'Unidade Notificação Gal',
 'CNES Unidade Notificação Gal',
 'Município Notificação Gal',
 'IBGE Município Notificação Gal',
 'Etnia']

In [6]:
GAL.validate_schema()

In [7]:
GAL.create_id()

In [16]:
men_df = Dbf5(os.path.join(path_data_1, fname_1), codec="latin").to_dataframe()
MENING = DataSinan(men_df)

In [17]:
sifa_df = pd.read_excel(os.path.join(path_data_2, fname_2), dtype=object)
SIFADQ = DataSinan(sifa_df)

In [18]:
MENING.empty_columns

['ID_REGIONA',
 'ID_RG_RESI',
 'ID_LOGRADO',
 'END_CONTAT',
 'DT_TRANSRM',
 'DT_TRANSRS',
 'NU_LOTE_V',
 'NU_LOTE_H',
 'CS_FLXRET',
 'FLXRECEBI',
 'MIGRADO_W',
 'ANT_NOMECO']

In [19]:
MENING.validate_schema()

("expected series 'NU_IDADE_N' to have type object, got int64",)
Basic validation complete.

In [20]:
SIFADQ.empty_columns

['CS_SUSPEIT',
 'IN_AIDS',
 'CS_MENING',
 'ID_REGIONA',
 'ID_RG_RESI',
 'ID_LOGRADO',
 'ID_GEO1',
 'ID_GEO2',
 'IN_VINCULA',
 'ID_OCUPA_N',
 'CODISINF',
 'DT_TRANSSE',
 'NU_LOTE_H',
 'MIGRADO_W',
 'CO_USUCAD',
 'CO_USUALT',
 'TP_SISTEMA',
 'NU_ESFERAS',
 'ID_NATU_JU',
 'ID_VINCULO']

In [21]:
SIFADQ.validate_schema()

Basic validation complete.

In [9]:
SIFADQ.raw_data[:5]

,NU_NOTIFIC,TP_NOT,ID_AGRAVO,CS_SUSPEIT,IN_AIDS,CS_MENING,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,...,ID_DIGIT,ID_FAX,ID_EMAIL,NU_UNID,NU_ESFERAS,ID_NATU_JU,ID_VINCULO,ID_UNID_AT,NU_TIPO_SA,TAMANHO
0,1847430,2,A539,NaN,NaN,NaN,2018-03-27,201813,2018,43,...,N,(51)32148585,provedoria@santacasa.tche.br,05,NaN,NaN,NaN,2237253,5,7
1,0099997,2,A539,NaN,NaN,NaN,2020-09-14,202038,2020,23,...,N,NaN,NaN,02,NaN,NaN,NaN,2372134,5,7
2,0106186,2,A539,NaN,NaN,NaN,2020-06-09,202024,2020,23,...,N,NaN,NaN,02,NaN,NaN,NaN,2372134,5,7
3,2014787,2,A539,NaN,NaN,NaN,2014-08-25,201435,2014,23,...,N,8533452309,NaN,05,NaN,NaN,NaN,2373270,5,7
4,0021756,2,A539,NaN,NaN,NaN,2021-08-04,202131,2021,23,...,N,8533452309,NaN,05,NaN,NaN,NaN,2373270,5,7